*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color:bisque;
}



h1{
    text-align: center;
    color: orange;
}
.bannerimg {
    text-align: center;
    

}

.menu p{
    text-align: center;
    color: orange;
}
.navbar{
    background-color:#7b2525;
    border-radius: 10px;
}

.navbar ul{
    overflow: auto;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: whitesmoke;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar li a:hover{
    color: orange;
}
.search{
    float: right;
    color: whitesmoke;
    padding: 12px 75px;
}
.navbar input{
    border-radius: 4px;
}
.logo{
    position: fixed;
    height: 50px;
    left: 0px;
    width: 50px;
    animation-name: in;
    animation-duration: 6s;
    animation-delay: -4ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function:ease-in ;
   

}

@keyframes in{
/*0%{
    background-color: red;
    top: 0;
    left: 0;
    transform:rotate(15deg)

}*/

/*50%{
    background-color: #7b2525;
    top: 50px;
    left: 50px;
    transform: rotate(90deg);
}*/


}


.heading{
    color: black;
    text-align:center;
    font-size:larger;
    font-family:monospace;
    padding: 1px;
   /* margin-left: 100px;*/
}
.bannerimg{
      /*align-items: center;*/
      height: 500px;
      width: 100%;
      background-image: url("https://images.rawpixel.com/image_400/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvay02M2EtZHM1NTQ2NDUzNTM0NTM0Nl8yLmpwZw.jpg");
      background-size: cover;

}
/* .detail{
    display: flex;
    text-align: center;
} */
/* .food-menue{ 
    text-align: center;
}  */
/* p{
    text-align: center;
    display: flex;
} */
button{
    background-color:#7b2525;
    padding: 5px 10px;
    border-radius: 8px;
    color:whitesmoke;
    cursor:pointer;
    border: 2px whitesmoke;

    
}
button:hover{
    color: orange;
}

.food-menue img{
    /*display: flex;
    justify-content: center;
grid-template-columns: 50px 50px 50px;
    background-color: #2196F3;
    padding: 10px;
    column-gap: 50px;*/
   /*content: "";
   clear: both;
   display: table;*/
  /* box-sizing: border-box;
   display: block;
   margin-left: auto;
  margin-right: auto;
  float: left;
  height: 250px;
  width: 33.33%;
  padding: 5px;*/

  /* display: grid;
   grid-template-columns: repeat(3,1fr);
   padding: 30px 20px;
   grid-column-gap: 20px;
   grid-row-gap:30px*/

   animation-name: food;
   animation-duration: 5s;
   animation-delay: 2ms;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
 }

/* @keyframes food{
    from{background-color: aquamarine;}
    to{background-color: blue;}
 }*/



 @media (min-width:320px) and (max-width:480px){
 .navbar li a{
display:inline;

 }

 .navbar ul{
    overflow: hidden;
 }
 .navbar{
    background-color: rgb(135, 206, 182);
 }


 }


.main{
    text-align: center;
    font-size: 25px;
}

.link{
    text-align: center;
}

.short{
    text-align: center;
}


.menu a{
    text-align: center;
}

/*.btn{
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}*/


/*.container{
    margin-top:30px;
    color: white;
}

.container .row{
    display: flex;
    justify-content: center;

}

.container .row .img{
    margin-inline: 30px;
    justify-content: center;
    text-align: center;
}

.container .row .img img{
    width: 100%;
}

.container .row .img button{
    width: 130px;
    height: 50px;
    background-color: #7b2525;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 3px;
}

.container .row .img button:hover{
    border: 2px solid white;
    font-size: 20px;
}

.container .row .img h2{
    margin-top: 10px;

}*/

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap:20px;
    grid-row-gap:30px;

}


.row img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
    animation-name: food;
   animation-duration: 5s;
   animation-delay: 2ms;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

}

@keyframes food{
    /*from{background-color: aquamarine;}
     to{background-color: blue;}*/
  }

.row img:hover{
    transform: scale(1.04);
}

.row h2{
    padding: 5px;
    text-align: center;
}

.row button{
    padding: 5px 30px;
    border: none;
    background-color: lightcoral;
    color:white;
    cursor: pointer;
    border-radius: 5px;
}


@keyframes food{
   /* from{background-color: aquamarine;}
    to{background-color: blue;}*/
 }
